https://stepik.org/lesson/1576163/step/12

**Подвиг 10**. Сформируйте одномерный тензор `tr` с типом данных `torch.int32` на основе прочитанных из входного потока чисел списка `lst`:

`lst = list(map(int, input().split()))`

Используя механизм списочной индексации, создайте еще один тензор `t_indx`, составленный из элементов тензора `tr` с индексами: `1, 1, 2, 1, 0`. Например:
```
tr: 1, 2, 3, 4, 5
t_indx: 2, 2, 3, 2, 1
```
P.S. На экран ничего выводить не нужно.

Тесты: https://github.com/selfedu-rus/neuro-pytorch/blob/main/tests/1.6.10

In [ ]:
import torch

lst = list(map(int, input().split())) # список lst в программе не менять
tr = torch.tensor(lst, dtype=torch.int32)
t_indx = tr[[1, 1, 2, 1, 0]]

print(tr)
print(t_indx)

11 18 5 7 5 11 1
tensor([11, 18,  5,  7,  5, 11,  1], dtype=torch.int32)
tensor([18, 18,  5, 18, 11], dtype=torch.int32)

```
test #1
input: 11 18 5 7 5 11 1
output:

test #2
input: 12 19 14 5 6
output:

test #3
input: 13 17 2 6 15 4
output:
```